/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
<style>
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
</style>
*/


.topo_da_pagina {
  position: absolute;
  width: 375px;
  height: 284px;
  left: 0px;
  top: 0px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.corpo_conteudo {
  position: absolute;
  width: 327px;
  height: 478px;
  left: 10px;
  top: 324px;
  
}

.titulo {
  position: absolute;
  width: 327px;
  height: 40px;
  left: calc(50% - 327px/2);
  top: 1rem;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;

  color: #242742;

}

.texto_um {
  position: absolute;
  width: 327px;
  height: 48px;
  left: calc(50% - 327px/2);
  top: 5rem;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #242742;
}

.topicos {
  position: absolute;
  width: 327px;
  height: 140px;
  left: 24px;
  top: 9rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.descricao_topicos {
  display: flex;
  align-items: flex-start;
  margin-left: -1rem;
  gap: 1rem;
  margin-top: 15px;
}

form {
  position: absolute;
  width: 327px;
  height: 162px;
  left: 24px;
  top: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;

}

.email {
  position: absolute;
  width: 327px;
  height: 36px;
  left: -8px;
  top: -2rem;

}

.email_box {
  position: absolute;
  width: 327px;
  height: 36px;
  left: 4px;
  top: 1rem;

}

.subscribe {
  position: absolute;
  width: 327px;
  height: 56px;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-color: #242742;
  color: white;
  left: auto;
  top: auto;


}

.attribution {
  position: absolute;
  width: 327px;
  height: 162px;
  left: 24px;
  top: 40rem;
}

@media (min-width:1100px ) {
  .descktop{
    display: flex;
    flex-direction: row;
  }
}